.banner {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/cover.jpg);
	background-size: cover;
	background-position: left;
	padding: 10px 60px;
	margin: 0px 0px;
  height: 500px;
} 

.banner h1 {
  color: white;
  font-size: 45px;
}

.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 30px;
}